$tabButtonBg: #5b92f4;
$tabButtonBgActive: #2354ac;

.ddm-tabs {
  margin-bottom: 20px;
}

.ddm-tabs__head {
  border-bottom: 4px solid $tabButtonBgActive;
}

%ddm-tabs__buttonBase {
  font-size: 18px;
  color: #fff;
  background: $tabButtonBg;

  padding: 10px;
}

.ddm-tabs__button {
  cursor: pointer;
  display: inline-block;
  margin-right: 2px;

  @extend %ddm-tabs__buttonBase;
}

.ddm-tabs__button--active {
  background: $tabButtonBgActive;
}

%ddm-tabs__panelBase {
  font-size: 16px;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px;
}

.ddm-tabs__panel {
  display: none;

  @extend %ddm-tabs__panelBase;
}

.ddm-tabs__panel--active {
  display: block;
}

.ddm-tabs {
  .ddm-collapsible {
    margin-bottom: 2px;
  }

  .ddm-collapsible__head {
    @extend %ddm-tabs__buttonBase;
  }

  .ddm-collapsible--open,
  .ddm-collapsible--opening {
    .ddm-collapsible__head {
      background: $tabButtonBgActive;
    }
  }

  .ddm-collapsible__arrow {
    top: 10px;
    right: 10px;
  }
}

.ddm-tabs__collapsible-body {
  @extend %ddm-tabs__panelBase;
  border-bottom: 0;
}

/*hr*/.ddm-tabs__divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ededed;
}
